/* Global */

body {
  font-family: Arial;
  font-size: 16x;
  line-height: 1.5;

  background-color: #ffffff;
  color: #333333;
  margin: 35px 10px 40px 10px;
}

img {
  margin: 0 auto;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 10 auto;
}

/* Header */

.prof-pic {
  border-radius: 50%;
  width: 30%;
}

.user-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-name a {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 600;
  font-family: "Karla", Helvetica, sans-serif;
  text-shadow: -4px -4px 0 #000, 2px -2px 0 #000, -2px 1px 0 #000,
    2px 2px 0 #000;
}

.user-name a:hover {
  color: #fffdd0;
}

/* Links */

.link {
  display: block;
  background-color: #3d3b3c;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-family: "Karla", Helvetica, sans-serif;
  font-weight: 600;
  padding: 15px 0 15px 0;
  margin: 12px 0 11px 0;
  border: 2px solid #3d3b3c;
  width: 100%;
}

.link:hover {
  color: #3d3b3c;
  background-color: #fffdd0;
}

/* Footer */

footer img {
  width: 100%;
  padding-top: 40px;
}
